/* shared style */

*{

  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.primary-color {
    color: #FF5400;
}

.secondary-color {
    color: rgba(19, 19, 24, 0.70);
}

/* nav related style */

.nav-section {
    display: flex;
    justify-content: space-between;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 50px;
}

.nav-section-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-section-title img {
    height: 3rem;
    width: 3.5rem;
}

.nav-section-descrioption ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-section-descrioption a {
    text-decoration: none;
    color: #424247;
}

.nav-section-descrioption ul li {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 400;
}